.container {
  margin: 0 auto;
  width: 720px;
	font-family: 'Open Sans', sans-serif;
<<<<<<< HEAD
}

<<<<<<< HEAD
header {
border-bottom: 1px dotted grey;
padding: 10px;
}

header ul {
list-style-type: none;
margin: 0;
padding: 0;
text-align: center;
}

header li {
  display: inline-block;
  margin: 0px 15px;
}

footer {
  border-top: 1px dotted black;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
}

=======

header h1{
  text-align: center;
}



li{
  display: inline;
}
>>>>>>> 2ea55e6b925e9c84fca45339c0ac619bed284d1a
=======
}
>>>>>>> 85daedf1439d9481512af5e95f101bad28082901
